.container
    %form#fileupload{method: "post", enctype: "multipart/form-data"}
        %button#upload.ladda-button{data: {style: "expand-right"}}
            %span= "upload"
            %input{type: "file", name: "files[]", multiple: "multiple"}
    %table.table.table-striped.filelist
%a{href: "https://github.com/shelling/dropbox.io"}
    %img{style:"position: absolute; top: 0; right: 0; border: 0;", src:"https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png", alt:"Fork me on GitHub"}
