.container

    %form#fileupload{method: "post", enctype: "multipart/form-data"}

        .row.fileupload-buttonbar

            .span6.offset3.fileupload-progress.fade
                .progress.progress-success.progress-striped.active{:role => "progressbar", :"aria-valuemax" => "100"}
                    .bar

        .row
            .span6.offset3
                %table.table.table-striped.filelist
