.container

    %form#fileupload{method: "post", enctype: "multipart/form-data"}

        %button.fileinput-button.ladda-button{data: {style: "expand-right"}}
            %span= "upload"
            %input{type: "file", name: "files[]", multiple: "multiple"}

        .row
            .span6.offset3
                %table.table.table-striped.filelist
