@import "compass";

#header {
    height: 140px;
    h1 {
        margin: 0 auto;
        display: block;
        font-size: 80px;
        line-height: 80px;
        font-family: Lobster;
        text-align: center;
        padding: 20px 0;
    }
}

#upload {
    margin: 0 auto 30px;
    display: block;
    position: relative;
    border-bottom: 3px #333 solid;
    @include transition(0.4s cubic-bezier(0.175, 0.885, 0.32, 0.85) all);
    &:active {
        border-bottom: 3px rgba(1,1,1,0) solid;
    }
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        cursor: pointer;
        z-index: 5;
    }
}

.filelist {
    width: 300px;
    margin: 0 auto;
    td:first-child {
        width: 240px;
        min-width: 240px;
        max-width: 240px;
        overflow: hidden;
        white-space: nowrap;
    }
}

#upload[data-style=expand-right][data-loading] {
    padding-right: 120px;
    padding-left: 120px;
}
