
#header {
    height: 140px;
}

.fileinput-button {
    position: relative;
    overflow: hidden;
    float: left;
    margin-right: 4px;
    input {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate(-300px, 0) scale(4);
        font-size: 23px;
        direction: ltr;
        cursor: pointer;
    }
}

